.scroller-wrapper {
  max-width: 100vw;
  background: black
}
.story-section {
  background: black;
  color: white;
  .story-title {
    padding-top: 15rem;
    h2 {
      text-align: center;
      font-size: 72px
    }
    @include media-query($on-palm) {
      padding-top: 10rem;
      h2 {
        font-size: 42px
      }
    }
  }
  .content {
    position: relative;
    .content-title {
      opacity: 0;
      font-size: 48px;
      text-align: center;
      @include media-query($on-palm) {
        font-size: 32px;
        width: max-content
      }
    }
    figure {
      position: relative;
    }
  }
  .image {
    .text-section, .text-section2 {
      opacity: 0;
      p {
        font-size: 32px;
        line-height: 0.9;
        .uline, .uline2 {
          opacity: 0;
          border-bottom: 1px solid white
        }
        @include media-query($on-palm) {
          font-size: 20px;
          line-height: 0.9;
        }
      }
    }
  }
  .image-1 {
    opacity: 0.3;
    .text-section {
      position: absolute;
    }
    figure {
      figcaption {
        position: absolute;
        right: 0;
        top: 25%;
        opacity: 0;
        h3 {
          font-size: 36px;
          margin-bottom: 4px;
        }
        p {
          position: relative;
          font-size: 24px;
          margin-bottom: 0;
          em {
            font-weight: 800;
            font-style: normal
          }
        }
        .bg-elem {
          position: absolute;
          top: 5px;
          content: "";
          height: 100px;
          width: 100%;
          background: white;
          opacity: 0;
        }
        @include media-query($on-palm) {
          bottom: 0;
          top: unset;
          h3 {
            font-size: 24px
          }
          p {
            font-size: 16px
          }
          .bg-elem {
            height: 60px;
          }
        }
      }
    }
  }
  .image-2 {
    opacity: 0;
  }
  .image-3 {

    @include media-query($on-palm) {
      margin-bottom: -25rem
    }

    margin-bottom: -25rem;
    .phone-body {
      margin: 0 auto;
      max-width: 800px;
    }
    .image-behind {
      position: absolute;
      opacity: 0;
      top: -75%;
      left: -25%;
    }
    figcaption {
      position: absolute;
      top: 0;
      p {
        line-height: 0.6;
        opacity: 0;
        font-size:28px;
        @include media-query($on-palm) {
          font-size: 16px;
          line-height: 0.9;
          margin-bottom: 5px
        }
        span {
          opacity: 0;
          border-bottom: 1px solid white
        }
      }
    }
  }
}

#story-btn {
  color: white;
  text-decoration: none;
  border: 2px solid #D96E56;
  border-radius: 5px;
  font-family: $caption-font;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: -50%;
  right: -25%;
  font-weight: bold;
  transition: all 0.3s ease;
  opacity: 0;
  background: #D96E56;
  &:hover {
    background: white;
    color: #333;
    border: 2px solid black;
  }
  @include media-query($on-palm) {
    padding: 7.5px;
    font-size: 8px;
    top: -80%;
    right: 40%;
    bottom: unset;
  }
}
