<form class="contact-form" action="https://formspree.io/jimmy@aesop-digital.com" method="post" id="contact-form">
    <div class="c-form">
        <div class="form-row">
          <div class="form-field">
            <input type="text" name="name" id="name" class="input-field" value="" autocorrect="off" required />
            <label for="name" class="c-label">name</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-field">
            <input type="email" name="_replyto" id="email" autocapitalize="none" autocorrect="off" class="input-field" required />
            <label for="email" class="c-label">email</label>
          </div>
        </div>
        <div class="form-row full">
          <div class="form-field" id="subject-row">
          <input type="text" name="subject" id="subject" class="input-field" value="" autocorrect="off" required />
          <label for="subject" class="c-label">subject</label>
        </div>
        </div>
        <div class="form-row full text-area">
          <div class="form-field" id="textarea-row">
            <textarea name="message" id="message" class="input-field multiline" rows="10" required ></textarea>
            <label for="message" class="c-label">message</label>
          </div>
        </div>
        <div class="form-row full submit">
            <button class="button-filled" type="submit">
              Get in touch {% include icons/send.svg %}
            </button>
        </div>
    </div>
</form>
