<div class="hero-banner">
      <div class="banner-text">
        <h2 class="lead-text" id="hero-text-1">Create awareness,</h2>
        <h2 class="lead-text tab-1" id="hero-text-2">generate more leads,</h2>
        <h2 class="lead-text tab-2" id="hero-text-3">build a community of regulars.</h2>
        <h1 class="seo-title" id="title">
          At Aesop Digital, we understand that planning and implementing</br> a digital strategy can lead to confusion and anxiety.
        </h1>
      </div>
      <a class="scroll-icon" href="javascript:void(0)" id="scroll-btn">
        {% include icons/scrollicon.svg %}
      </a>
  </div>
