<div class="scroller-wrapper">
  <div class="story-section wrapper trigger-1">
    <div class="story-title">
      <h2>Tell your story.</h2>
    </div>
    <div class="image-1 image">
      <div class="content">
        <figure class="image">
          <img src="{{ "/assets/images/landingpage1.jpg" | relative_url }}" alt="brand storytelling montreal">
          <figcaption class="image1-caption">
            <h3>Tetsuya Shimizu</h3>
            <p>Head Chef at <em>Marusan</em></p>
            <span class="bg-elem"></span>
          </figcaption>
        </figure>
        <div class="text-section trigger-2">
          <p>Let your customers engage with</p>
          <p>your restaurant by engaging in</p>
          <p><span class="uline">meaningful visual storytelling.</span></p>
        </div>
      </div>
    </div>
    <div class="image-2 image">
      <div class="content">
        <figure class="image">
          <img src="{{ "/assets/images/landingpage3.jpg" | relative_url }}" alt="restaurant social media management montreal">
        </figure>
        <div class="text-section2 trigger-3">
          <p>Take your customers</p>
          <p>on a journey from the</p>
          <p><span class="uline2">menu to the table</span></p>
        </div>
      </div>
    </div>
    <div class="image-3 image">
      <div class="content">
        <div class="content-title">
          <h3>Produce powerful content.</h3>
        </div>
        <figure class="image">
          <img class="phone-body" src="{{ "/assets/images/phone-body.png" | relative_url }}" alt="social media content creation montreal">
          <figcaption class="text-section3">
            <p>Show your customers</p>
            <p>consistent compelling content</p>
            <p>and tell a story that keeps them</p>
            <p><span class="uline4">coming back for more.</span></p>
          </figcaption>
          <figcaption class="text-section4">
            <p>at Aesop Digital we produce</p>
            <p>visually-stunning work that</p>
            <p><span class="uline5">your customers will notice.</span></p>
            <a href="javascript:void(0)" id="story-btn">work with us</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
