  <div class="testimonials">
    <div class="quotes">
      {% include icons/quotes.svg %}
      <h4 class="caption">TESTIMONIALS</h4>
    </div>

    <div class="testimonials-slider">
      <div class="testimonial-item">
        <h3 class="quote">Aesop Digital has managed to capture and communicate the energy of the restaurant through photography, improving the production value and brand awareness of Marusan on all of our social media channels.</h3>
        <div class="avatar testimonial-avatar"></div>
        <div class="testimonial-author">
          <div class="avatar">
            {% include icons/avatar.svg %}
          </div>
          <h5 class="medium">Hide Imaizumi</h5>
          <h5 class="light">Owner, Marusan Comptoir Japonais</h5>
        </div>
      </div>
      <div class="testimonial-item">
        <h3 class="quote">One of our marketing challenges is appealing to very diverse markets around the world as different cultures respond differently.</br>They have managed to communicate the values and beliefs of CLC in ways, that no matter what country, our vision is understood.</h3>

        <div class="avatar testimonial-avatar"></div>
        <div class="testimonial-author">
          <div class="avatar">
            {% include icons/avatar.svg %}
          </div>
          <h5 class="medium">AJ Javier</h5>
          <h5 class="light">Owner and Director, CLC Montreal</h5>
        </div>
      </div>
      <div class="testimonial-item">
        <h3 class="quote">Aesop Digital's approach to content creation not only makes it easy to produce content for multiple channels, but they really capture the essence of our culture and space.</h3>
        <div class="avatar testimonial-avatar"></div>
        <div class="testimonial-author">
          <div class="avatar">
            {% include icons/avatar.svg %}
          </div>
          <h5 class="medium">Israa Hilles</h5>
          <h5 class="light">Owner, Escriratoire Coworking Space</h5>
        </div>
      </div>
      <div class="testimonial-item">
        <h3 class="quote">The consistency of our social media and review sites that Aesop Digital has provided us has drastically increased our online engagement, website traffic and most importantly, direct inquiries and bookings! </h3>
        <div class="avatar testimonial-avatar"></div>
        <div class="testimonial-author">
          <div class="avatar">
            {% include icons/avatar.svg %}
          </div>
          <h5 class="medium">Bic Flores</h5>
          <h5 class="light">Owner, Junior Filipino</h5>
        </div>
      </div>
    </div>

  </div>
