---
layout: default
---

<div class="home">

  {% include header.html %}

  {% include hero.html %}

  {% include divider.html %}

  {% include story-section.html %}

  <div class="services wrapper">

    <div class="cta">
      <h2 class="cta-title">What we do.</h2>
      <h4 class="tagline">
          Specializing in the behavior of hungry people and foodies alike,</br>we optimize your accounts on the most popular platforms they trust:</br> Yelp, Google+, TripAdvisor, Zomato, Facebook and Instagram,</br>becoming an online voice of your brand.
      </h4>
    </div>


    <div class="services-cards"> <!-- init parallax effect -->

    <div class="card-wrapper">
      <div class="card intro left lt">
        <h3 class="card-title">Here's Our Menu</h3>
        <div class="card-image" 5">
          <img src="/assets/images/landingpage2.png" alt="restaurant marketing">
        </div>
        <div class="card-text">
          <p>
            Our approach to digital marketing is similar to plating a dish: every element is meticulously placed to deliver the best possible experience.
          </p>
          <p>
            Our goal is to have people eat with their eyes and communicate a positive restaurant experience before even stepping foot inside.
          </p>
        </div>
      </div>
    </div>

    <div class="card-wrapper" id="block-right-1">
      <div class="card service-1 right">
        <h3 class="card-title">Social Media Management</h3>
        <div class="card-text">
          <p>
            When it comes to social media posts,
            consistent and high quality is a
            recipe for success, just like your food.
          </p>
          <p>
            Creative copywriting and captioning.
            A well-crafted message can be the
            difference between dessert or the bill.
          </p>
          <p>
            Reactive engagement. Timing is everything, especially when it comes to upselling that second cocktail.
          </p>
          <p>
            We strive to create a community and start conversations that go beyond the dinner table.
          </p>
        </div>
      </div>
    </div>

    <div class="card-wrapper" id="block-left-1">
      <div class="card service-2 left">
        <h3 class="card-title">Review Site Management</h3>
          <p>Because in the digital age, ratings and reviews are just as powerful as word of mouth.</p>
          <p>We create, optimize and manage your accounts on: Google+, Yelp, TripAdvisor, and Zomato…</p>
          <p>Offering stellar customer service in the form of timely replies to all reviews as well as retention strategies to convert even the harshest critics into repeat customers.</p>
          <p>Positive reviews can have a direct impact on your bottom line.</p>
      </div>
    </div>

    <div class="card-wrapper" id="block-right-2">
      <div class="card lt service-3 right">
        <h3 class="card-title">Content Creation</h3>
        <div class="card-logo" >
          {% include icons/holding-phone.svg %}
        </div>
        <div class="card-text">
          <p>Content Creation is similar to running a kitchen, efficiency and coordination is key.</p>
          <p>Generating original content your ideal customers crave without disrupting business and maximizing their use is what we strive for.</p>
        </div>
      </div>
    </div>
    <div class="card-wrapper" id="block-left-2">
      <div class="card service-4 left">
        <h3 class="card-title">Web Design & Development</h3>
        <div class="card-logo small">
          {% include icons/design-notebook.svg %}
        </div>
        <div class="card-text">
          <p>A high quality menu needs a high quality website.</p>
          <p>Your website is like your online business card. Your site should reflect your brand's offering.</p>
          <p>We will help you design and develop a site that can handle anything from reservations to ecommerce.</p>
          <p>We make websites that drive customers to your restaurant.</p>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="roi-numbers">

    <div class="cta">
      <h2 class="cta-title">Numbers</h2>
      <h4 class="tagline">We crunched the numbers so you don’t have to.</h4>
    </div>

    <div class="stat-cards">

      <div class="card-container">

        <div class="stat-card"
            data-aos="fade-up"
            data-aos-anchor=".stat-cards"
            data-aos-delay="650"
            data-aos-duration="650"
            data-aos-easing="ease-in">
          <div class="card-icon">
            {% include icons/search.svg %}
          </div>
          <h3 class="stat">40<span>%</span></h3>
          <h4 class="caption">OF YOUR AUDIENCE</h4>
          <p class="card-text">Discover new restaurants via</br>Google plus other online</br> and digital search methods</p>
        </div>

        <div class="stat-card"
            data-aos="fade-up"
            data-aos-anchor=".stat-cards"
            data-aos-delay="300"
            data-aos-duration="650"
            data-aos-easing="ease-in">
          <div class="card-icon">
            {% include icons/star.svg %}
          </div>
          <h3 class="stat">1</h3>
          <h4 class="caption">SINGLE STAR</h4>
          <p class="card-text">1 single star higher review</br>could increase revenues from</br> 5 - 9% for restaurants. (Yelp)</p>
        </div>

        <div class="stat-card"
            data-aos="fade-up"
            data-aos-anchor=".stat-cards"
            data-aos-delay="650"
            data-aos-duration="650"
            data-aos-easing="ease-in">
          <div class="card-icon">
            {% include icons/eye.svg %}
          </div>
          <h3 class="stat">250<span>%</span></h3>
          <h4 class="caption">MORE IMPRESSIONS</h4>
          <p class="card-text">We have delivered this</br> impressive statistic and want</br> you to know about it!
        </div>

      </div>
    </div>
  </div>

  <div class="testimonials">

    <div class="testimonials-slider">
      <div class="testimonial-item">
        <div class="quotes">
          {% include icons/quotes.svg %}
          <h4 class="caption">TESTIMONIALS</h4>
        </div>

        <h3 class="quote">Testimonials are effective because they increase your conversion rates. They may be an unknown person to the reader, but they have personal experience with the product or service. Since they're a paying customer, the testimonial is authentic, like a review.</h3>

        <div class="avatar testimonial-avatar"></div>
        <div class="testimonial-author">
          <div class="avatar">
            {% include icons/avatar.svg %}
          </div>
          <h5 class="medium">Jane Doe</h5>
          <h5 class="light">Restaurant Manager</h5>
        </div>
      </div>
    </div>

  </div>

  <div class="contact">
    <div class="contact-col">
      <h2 class="cta-title">What are you waiting for?</h2>
        <!-- contact form -->
        {% include contact.html %}
    </div>
    <div class="info-col">
      <div class="contact-item">
        <h6>address :</h6>
        <h3>4701 Rue Saint-Dominique</br>H2T 1T7</br>Montreal, QC </h3>
      </div>
      <div class="contact-item">
        <h6>phone :</h6>
        <h3>309-736-5477</h3>
      </div>
      <div class="contact-item">
        <h6>email :</h6>
        <h3>jimmy@aesop-digital.com</h3>
      </div>
    </div>
  </div> <!-- end contact section


</div>
