---
layout: default
---

<div class="home">

  {% include header.html %}

  {% include hero.html %}

  {% include divider.html %}

  {% include story-section.html %}

  <div class="services wrapper">

    <div class="cta">
      <h2 class="cta-title">Here's our menu.</h2>
      <h4 class="tagline">
          Our approach to digital marketing is similar to plating a dish: every element is meticulously placed to deliver the best possible experience.
      </h4>
    </div>


    <div class="services-cards" id="services"> <!-- init parallax effect -->

    <div class="card-wrapper" id="block-left-1">
      <div class="card service-1 left"
      data-aos="fade-up"
      data-aos-anchor="#block-left-1"
      data-aos-delay="100"
      data-aos-duration="350"
      data-aos-easing="ease-in">
        <h3 class="card-title">Social Media Management</h3>
        <div class="card-text">
          <p>
            When it comes to social media posts,
            consistent and high quality is a
            recipe for success, just like your food.
          </p>
          <p>
            Creative copywriting and captioning.
            A well-crafted message can be the
            difference between dessert or the bill.
          </p>
          <p>
            Reactive engagement. Timing is everything, especially when it comes to upselling that second cocktail.
          </p>
          <p>
            We strive to create a community and start conversations that go beyond the dinner table.
          </p>
        </div>
      </div>
    </div>

    <div class="card-wrapper" id="block-right-1">
      <div class="card service-2 right"
      data-aos="fade-up"
      data-aos-anchor="#block-right-1"
      data-aos-offset="350"
      data-aos-duration="350"
      data-aos-easing="ease-in">
        <h3 class="card-title">Review Site Management</h3>
          <p>Because in the digital age, ratings and reviews are just as powerful as word of mouth.</p>
          <p>We create, optimize and manage your accounts on: Google+, Yelp, TripAdvisor, and Zomato…</p>
          <p>Offering stellar customer service in the form of timely replies to all reviews as well as retention strategies to convert even the harshest critics into repeat customers.</p>
          <p>Positive reviews can have a direct impact on your bottom line.</p>
      </div>
    </div>

    <div class="card-wrapper" id="block-left-2">
      <div class="card service-3"
      data-aos="fade-up"
      data-aos-anchor="#block-left-2"
      data-aos-offset="200"
      data-aos-duration="350"
      data-aos-easing="ease-in">
        <h3 class="card-title">Content Creation</h3>
        <div class="card-logo" >
          {% include icons/holding-phone.svg %}
        </div>
        <div class="card-text">
          <p>Content Creation is similar to running a kitchen, efficiency and coordination is key.</p>
          <p>Generating original content your ideal customers crave without disrupting business and maximizing their use is what we strive for.</p>
        </div>
      </div>
    </div>
    <div class="card-wrapper" id="block-right-2">
      <div class="card service-4 right"
      data-aos="fade-up"
      data-aos-anchor="#block-right-2"
      data-aos-offset="350"
      data-aos-duration="350"
      data-aos-easing="ease-in">
        <h3 class="card-title">Web Design & Development</h3>
        <div class="card-logo small">
          {% include icons/design-notebook.svg %}
        </div>
        <div class="card-text">
          <p>A high quality menu needs a high quality website.</p>
          <p>We will help you design and develop a site that can handle anything from reservations to ecommerce.</p>
          <p>We make websites that drive customers to your restaurant.</p>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="roi-numbers">

    <div class="cta">
      <h2 class="cta-title">Numbers</h2>
      <h4 class="tagline">We crunched the numbers so you don’t have to.</h4>
    </div>

    <div class="stat-cards">

      <div class="card-container">

        <div class="stat-card"
            data-aos="fade-up"
            data-aos-anchor=".stat-cards"
            data-aos-delay="100"
            data-aos-offset="50"
            data-aos-duration="350"
            data-aos-easing="ease-in">
          <div class="card-icon">
            {% include icons/search.svg %}
          </div>
          <h3 class="stat">40<span>%</span></h3>
          <h4 class="caption">OF YOUR AUDIENCE</h4>
          <p class="card-text">Discover new restaurants via</br>Google plus other online</br> and digital search methods</p>
        </div>

        <div class="stat-card"
            data-aos="fade-up"
            data-aos-anchor=".stat-cards"
            data-aos-delay="100"
            data-aos-offset="50"
            data-aos-duration="350"
            data-aos-easing="ease-in">
          <div class="card-icon">
            {% include icons/star.svg %}
          </div>
          <h3 class="stat">1</h3>
          <h4 class="caption">SINGLE STAR</h4>
          <p class="card-text">1 single star higher review</br>could increase revenues from</br> 5 - 9% for restaurants. (Yelp)</p>
        </div>

        <div class="stat-card"
            data-aos="fade-up"
            data-aos-anchor=".stat-cards"
            data-aos-delay="100"
            data-aos-offset="50"
            data-aos-duration="350"
            data-aos-easing="ease-in">
          <div class="card-icon">
            {% include icons/eye.svg %}
          </div>
          <h3 class="stat">93<span>%</span></h3>
          <h4 class="caption">OF PEOPLE</h4>
          <p class="card-text">93% of people regularly</br>read online reviews when</br>deciding upon a local business
        </div>

      </div>
    </div>
  </div>

  {% include testimonials-slider.html %}

  <div class="contact" id="contact">
    <div class="contact-col">
      <h2 class="cta-title">What are you waiting for?</h2>
        <!-- contact form -->
        {% include contact.html %}
    </div>
    <div class="info-col">
      <div class="contact-item">
        <h6>address :</h6>
        <h3>3253a Rue Saint-Jacques</br>H4C 1G8</br>Montreal, QC </h3>
      </div>
      <div class="contact-item">
        <h6>phone :</h6>
        <h3>514-258-7295</h3>
      </div>
      <div class="contact-item">
        <h6>email :</h6>
        <h3>jimmy@aesop-digital.com</h3>
      </div>
    </div>
  </div> <!-- end contact section


</div>
