---
layout: default
---

<div class="page">

  {% include header.html %}

  <div class="page-header">
    <h1 class="post-title">Meet {{ page.title | escape }}.</h1>
    <h4 class="tagline"> Snappy two-line lead in that announces you guys
      as competent and trustworthy people.</br> Ready to deliver impressive
      results.
    </h4>
  </div> <!-- end page header -->

  <div class="team-slider">
    <div class="slider-wrapper">

      <div class="team-member">
        <div class="avatar-image">
          {% include icons/denise-avatar.svg %}
        </div>
        <div class="member-name">
          <h4>Denise Escalante</h4>
          <h5 class="light">Heart-breaker, Risk-taker.</h5>
        </div>
        <div class="member-bio">
          <p>Free-spirited foodie. Loves hoodies. Nails at nail art. Professional lip syncer and playlist maker. Successfully fails at making rice every other time. Don’t mind the natural RBF -</br> let's get social.</p>
        </div>
      </div> <!-- end card -->

      <div class="team-member active">
        <div class="avatar-image">
          {% include icons/jimmy-avatar.svg %}
        </div>
        <div class="member-name">
          <h4>Jimmy Santos</h4>
          <h5 class="light">Heart-breaker, Risk-taker.</h5>
        </div>
        <div class="member-bio">
          <p>"Hiking addict, coffee addict, ukulelist, Bauhaus fan and proud pixelpusher. Acting at the junction of aesthetics and intellectual purity to create great work for living breathing human beings. Check me out on Dribbble or Medium."</p>
        </div>
      </div> <!-- end card -->

      <div class="team-member">
        <div class="avatar-image">
          {% include icons/adam-avatar.svg %}
        </div>
        <div class="member-name">
          <h4>Adam Frej</h4>
          <h5 class="light">Recovering Insomniac</h5>
        </div>
        <div class="member-bio">
          <p>Tech obsessed with design interest.</br> Developer by day, developer by night.</br>Hummus addicted, blender game prolific.</br>Gets mistaken for Superman (occasionally).</p>
        </div>
      </div> <!-- end card -->

    </div>
  </div> <!-- end slider -->
</div>

